<p align="center">
  <img alt="cgen" src="https://images.techdecaf.com/fit-in/100x/tiny/tasks-logo.png" width="100" />
</p>

# Tasks

Tasks is a task runner written in GO. Designed to be a simple task runner supporting both local development and ci/cd pipelines.

- [Tasks](#tasks)
  - [Installing Tasks](#installing-tasks)
  - [Using Tasks](#using-tasks)
    - [Quick Start](#quick-start)
    - [taskfile.yaml](#taskfileyaml)
    - [Go Template Options](#go-template-options)
  - [CLI Options](#cli-options)
  - [Variables](#variables)
- [Credits](#credits)
  - [Application Design](#application-design)
  - [Logo](#logo)
  - [Sponsor](#sponsor)

## Installing Tasks

```bash
sh -c "$(curl -fsSL https://raw.github.com/techdecaf/tasks/master/install.sh)"
```

## Using Tasks

### Quick Start

1. [install tasks](#installing-tasks)
2. create a taskfile.yaml in the root of your project
3. `tasks run task2` with the following yaml would result in task 1, then task2 running.

```yaml
{{ .TASK_FILE }}
```

### taskfile.yaml

### Go Template Options

- [Go Template Documentation](https://golang.org/pkg/text/template/)
- Additionally we add functions from the [Sprig](http://masterminds.github.io/sprig/) library for convenience

## CLI Options

```bash
{{.HELP_TEXT}}
```

## Variables

variables are run in order, and also mapped to the environment, so you can feel free to use your defined variables in subsequent commands.

variables are resolved in the following order:

1. local variables declared as part of a task
2. environmental variables that exist before the task is run
3. global variables listed in the taskfile.yaml

# Credits

## Application Design

Application design taken from [go-task](https://github.com/go-task/task). Lots of key design elements come from this project, the only reason to roll our own was a fundamental breaking change on how to handle variables.

## Logo

The logo for this project provided by [logomakr](https://logomakr.com)

## Sponsor

[![TechDecaf](https://images.techdecaf.com/fit-in/150x/techdecaf/logo_full.png)](https://techdecaf.com)

_Get back to doing what you do best, let us handle the rest._
